* {
    font-family: 'Times New Roman', Times, serif;

}

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    position: relative;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003226_1714596295_pics1.png);
    background-size: cover;
    background-attachment: fixed;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 1;
}

.ImagegalContainer,
.starplayercontainer,
.table {
    position: relative;
    /* above the overlay */
    z-index: 2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0px;
    width: 100%;
    color: white;
    background-color: rgb(16, 6, 88);
    border: black solid 1px;
    text-align: center;
    z-index: 5;
    box-shadow: 0px 5px 5px rgb(63, 138, 182);
}

.maintext {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 50px;
    padding: 15px;
    font-size: 24px;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
    z-index: 1;
}

.maintext>p.line1 {
    position: fixed;
    top: 100px;
    left: 45vw;
}

.maintext>p.line2 {
    position: fixed;
    top: 150px;
    left: 43vw;
}


div.ImagegalContainer {
    display: inline-block;
    margin-left: 500px;
    padding: 5px;
    width: 100%vw;
    height: 100px;
}



.img1 {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    border: white solid 10px;
    height: 200px;
    width: 300px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003227_1714596308_pics2.png);
    background-size: cover;
    position: relative;
}

.img2 {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    border: white solid 10px;
    height: 200px;
    width: 300px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003228_1714596324_pics3.png);
    background-size: cover;
    position: relative;
}

.img3 {
    display: inline-block;
    border-radius: 5px;
    border: white solid 10px;
    height: 200px;
    width: 300px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003229_1714596356_pics4.png);
    margin: 10px;
    position: relative;
}

div.ImagegalContainer .img1>p {
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    left: 100px;
    bottom: 0;

}

div.ImagegalContainer .img2>p {
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    left: 60px;
    bottom: 0;

}

div.ImagegalContainer .img3>p {
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    left: 80px;
    bottom: 0;
}

h2 {
    text-align: center;
}

.starplayercontainer {
    z-index: 4;
    display: inline-block;
    padding: 10px;
    width: 100vw;
    height: auto;
    margin-top: 100px;
}

.starplayer {
    z-index: 4;
    height: 400px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 40vw;
    overflow: auto;
    text-align: center;
}

div.card {
    height: 100px;
    width: 200px;
}

.starimg1 {
    display: inline-block;
    border: white solid 10px;
    height: 200px;
    width: 300px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003230_1714596372_pics5.png);
    background-size: cover;
    margin-left: 25px;
}

.starimg2 {
    display: inline-block;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003231_1714596390_pics6.png);
    background-size: cover;
    margin-left: 25px;
}

.starimg3 {
    display: inline-block;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003232_1714596401_pics7.png);
    background-size: cover;
    margin-left: 25px;
}

table {
    width: 60vw;
    background-color: aliceblue;
    text-align: left;
    border-collapse: collapse;
    padding: 10px;
    margin-top: 100px;
    margin-left: 25vw;
    font-weight: bold;
    margin-bottom: 100px;
}

thead {
    background-color: rgb(16, 6, 88);
    color: white;
}

td {
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    left: -10px;
    padding: 10px;
    margin: 0px;
    width: 100vw;
    color: white;
    background-color: rgb(16, 6, 88);
    border: black solid 1px;
    text-align: center;
    z-index: 5;
}

.footline1 {
    font-size: 1rem;
}

.footline2 {
    font-size: 2rem;
    font-weight: bold;
}

.footline3 {
    font-size: 1.5rem;
    font-weight: bold;
}